In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import PySimpleGUI as sg
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

https://www.kaggle.com/dionisiusdh/indonesian-names

In [2]:
df = pd.read_csv('indonesian-names.csv')

In [3]:
df.head()

                          name gender
0              hafizhan shidqi      m
1                gandhi wibowo      m
2  aldio mahendra purwandrarto      m
3                  benny putra      m
4         vicky vernando dasta      m

In [4]:
print(df['gender'].value_counts())

m    1095
f     868
Name: gender, dtype: int64

In [4]:
male = df[df['gender'] == 'm']
male.head()

                          name gender
0              hafizhan shidqi      m
1                gandhi wibowo      m
2  aldio mahendra purwandrarto      m
3                  benny putra      m
4         vicky vernando dasta      m

In [5]:
female = df[df['gender'] == "f"]
female.head()

                   name gender
6           aan nuraini      f
9       ade indra sukma      f
10         ade irmayani      f
14  dean mareti hariani      f
20   habil sabilla do'a      f

The variable we are predicting is called the criterion variable and is referred to as Y. The variable we are basing our predictions on is called the predictor variable and is referred to as X

In [24]:
X = df['name']
y = df['gender']

In [12]:
labelencoder_Y = LabelEncoder()
y = labelencoder_Y.fit_transform(y)
print(y)

[1 1 1 ... 0 1 0]

In [16]:
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.25,random_state=1)
model = make_pipeline(TfidfVectorizer(), MultinomialNB())
model.fit(Xtrain, ytrain)
ypred = model.predict(Xtest)

acc = 100*accuracy_score(ytest,ypred)

print('Accuracy %0.2f %%'%acc)
print("")
print(Xtest.shape)
print(Xtrain.shape)
print("")
print(ypred)

Accuracy 78.00 %

(491,)
(1472,)

['m' 'm' 'm' 'm' 'f' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'f' 'm'
 'f' 'f' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'm' 'f'
 'm' 'm' 'f' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f'
 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'f' 'm' 'm' 'f' 'f' 'm' 'm' 'f' 'f' 'f' 'f' 'm' 'm' 'f' 'f' 'm' 'm'
 'f' 'f' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'f' 'f' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'f' 'f' 'm' 'f' 'm' 'f' 'm' 'f' 'm'
 'm' 'm' 'm' 'm' 'f' 'f' 'f' 'm' 'f' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'm' 'm'
 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'f' 'f' 'm' 'm' 'm' 'f' 'm'
 'f' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'f'
 'm' 'm' 'f' 'm' 'f' 'f' 'm' 'm' 'f' 'm' 'f' 'm' 'm' 'f' 'm' 'f' 'f' 'm'
 'm' 'm' 'f' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f'
 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'm'
 'm' 'm' 'm' 'f' 'm' 'f' 'm' 'f' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'f' 'm'
 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm'
 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'f' 'm'
 'f' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm'
 'f' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'f' 'm' 'm' 'm' 'm'
 'm' 'f' 'f' 'm' 'f' 'm' 'f' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'f' 'm' 'm' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'm'
 'm' 'm' 'f' 'm' 'm' 'f' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'f' 'm' 'm' 'm' 'm'
 'm' 'm' 'f' 'm' 'm' 'f' 'f' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'm' 'f' 'm' 'm'
 'm' 'm' 'f' 'f' 'm']

 In this function error = number of incorrect classifications

In [14]:
print('Mean Absolute Error:', metrics.mean_absolute_error(ytest, ypred))  
print('Mean Squared Error:', metrics.mean_squared_error(ytest, ypred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(ytest, ypred)))

Mean Absolute Error: 0.219959266802444
Mean Squared Error: 0.219959266802444
Root Mean Squared Error: 0.4689981522377716

In [21]:
def prediksi_nama(nama, model):
    prediksi = model.predict([nama])
    return prediksi

In [6]:
contoh_judul_1 = "putri rahayu"
print(prediksi_nama(contoh_judul_1, model))

['f']

GUI

In [23]:
sg.theme('Cyan')
   
layout = [[sg.Text('Tuliskan Nama Gender:'),
           sg.Text(size=(15,1), key='-OUTPUT-')],
          [sg.Input(key='-IN-')],
          [sg.Button('Tampilkan Hasil'), sg.Button('Exit')]]
  
window = sg.Window('Prediksi Nama Gender', layout)
  
while True:
    event, values = window.read()
    print(event, values)
    print(prediksi_nama(values['-IN-'], model))
    
    if event in  (None, 'Exit'):
        break
      
    if event == 'Tampilkan Hasil':
        # Update the "output" text element
        # to be the value of "input" element
        window['-OUTPUT-'].update(prediksi_nama(values['-IN-'], model))
  
window.close()

** Warning - Cyan Theme is not a valid theme. Change your theme call. **
valid values are ['Black', 'BlueMono', 'BluePurple', 'BrightColors', 'BrownBlue', 'Dark', 'Dark2', 'DarkAmber', 'DarkBlack', 'DarkBlack1', 'DarkBlue', 'DarkBlue1', 'DarkBlue10', 'DarkBlue11', 'DarkBlue12', 'DarkBlue13', 'DarkBlue14', 'DarkBlue15', 'DarkBlue16', 'DarkBlue17', 'DarkBlue2', 'DarkBlue3', 'DarkBlue4', 'DarkBlue5', 'DarkBlue6', 'DarkBlue7', 'DarkBlue8', 'DarkBlue9', 'DarkBrown', 'DarkBrown1', 'DarkBrown2', 'DarkBrown3', 'DarkBrown4', 'DarkBrown5', 'DarkBrown6', 'DarkBrown7', 'DarkGreen', 'DarkGreen1', 'DarkGreen2', 'DarkGreen3', 'DarkGreen4', 'DarkGreen5', 'DarkGreen6', 'DarkGreen7', 'DarkGrey', 'DarkGrey1', 'DarkGrey10', 'DarkGrey11', 'DarkGrey12', 'DarkGrey13', 'DarkGrey14', 'DarkGrey2', 'DarkGrey3', 'DarkGrey4', 'DarkGrey5', 'DarkGrey6', 'DarkGrey7', 'DarkGrey8', 'DarkGrey9', 'DarkPurple', 'DarkPurple1', 'DarkPurple2', 'DarkPurple3', 'DarkPurple4', 'DarkPurple5', 'DarkPurple6', 'DarkPurple7', 'DarkRed', 'DarkRed1', 'DarkRed2', 'DarkTanBlue', 'DarkTeal', 'DarkTeal1', 'DarkTeal10', 'DarkTeal11', 'DarkTeal12', 'DarkTeal2', 'DarkTeal3', 'DarkTeal4', 'DarkTeal5', 'DarkTeal6', 'DarkTeal7', 'DarkTeal8', 'DarkTeal9', 'Default', 'Default1', 'DefaultNoMoreNagging', 'GrayGrayGray', 'Green', 'GreenMono', 'GreenTan', 'HotDogStand', 'Kayak', 'LightBlue', 'LightBlue1', 'LightBlue2', 'LightBlue3', 'LightBlue4', 'LightBlue5', 'LightBlue6', 'LightBlue7', 'LightBrown', 'LightBrown1', 'LightBrown10', 'LightBrown11', 'LightBrown12', 'LightBrown13', 'LightBrown2', 'LightBrown3', 'LightBrown4', 'LightBrown5', 'LightBrown6', 'LightBrown7', 'LightBrown8', 'LightBrown9', 'LightGray1', 'LightGreen', 'LightGreen1', 'LightGreen10', 'LightGreen2', 'LightGreen3', 'LightGreen4', 'LightGreen5', 'LightGreen6', 'LightGreen7', 'LightGreen8', 'LightGreen9', 'LightGrey', 'LightGrey1', 'LightGrey2', 'LightGrey3', 'LightGrey4', 'LightGrey5', 'LightGrey6', 'LightPurple', 'LightTeal', 'LightYellow', 'Material1', 'Material2', 'NeutralBlue', 'Purple', 'Python', 'Reddit', 'Reds', 'SandyBeach', 'SystemDefault', 'SystemDefault1', 'SystemDefaultForReal', 'Tan', 'TanBlue', 'TealMono', 'Topanga']
Instead, please enjoy a random Theme named DarkBlue6
Tampilkan Hasil {'-IN-': 'putri rahayu'}
['f']
Exit {'-IN-': 'putri rahayu'}
['f']